			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header active"><a href="#">Overview</a></li>
					<!-- li><a href="#">Browser &amp; OS</a></li -->
					<!-- li><a href="location.html">Location</a></li -->
				</ul>
			</div>
			<!--/.well -->

