<% include header %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<% include nav %>
		</div>
		<!--/span-->
		<section class="span10 container">
			<h3>Overview</h3>
			<div class="clearfix">
				<div class="btn-toolbar clearfix">
					<select id="page-type" class="pull-left">
						<optgroup label="litb">
							<option value="litb_all">litb 全部页面</option>
							<option value="litb_index">litb 首页</option>
							<option value="litb_products_category">litb 品类页</option>
							<option value="litb_advanced_search_result">litb 搜索结果页</option>
							<option value="litb_narrow_search">litb narrow search页</option>
							<option value="litb_product_info">litb 单品页</option>
						</optgroup>
						<optgroup label="mini">
							<option value="mini_all">mini 全部页面</option>
							<option value="mini_index">mini 首页</option>
							<option value="mini_products_category">mini 品类页</option>
							<option value="mini_advanced_search_result">mini 搜索结果页</option>
							<option value="mini_narrow_search">mini narrow search页</option>
							<option value="mini_product_info">mini 单品页</option>
						</optgroup>
					</select>
					<select id="page-template" class="pull-left" style="display: none;"></select>

					<div id="date-range" class="pull-right">
						<label class="pull-left">From: 
							<input id="date-start" type="text" class="input-small" value="01/01/2013" />
						</label>
						<label class="pull-left">To:
							<input id="date-end" type="text" class="input-small" value="01/05/2013" />
						</label>
						<button class="btn">accept</button>
					</div>

					<div id="date-unit" class="btn-group pull-right" data-toggle="buttons-radio">
						<button class="btn active" value="day">Day</button>
						<button class="btn" value="week">Week</button>
						<button class="btn" value="month">Month</button>
					</div>
				</div>

				<div id="data-types" class="btn-group pull-left hide" data-toggle="buttons-checkbox">
					<button class="btn active">Window Load</button>
					<button class="btn active">Dom Ready</button>
					<button class="btn active">Network Latency</button>
				</div>

				<button id="switchView" class="btn btn-link pull-right" title="Switch View"><i class="icon-retweet"></i> Switch View</button>
			</div>

			<div id="viewMask">
				<div id="bothViewsWrapper">
					<div id="plot-view" class="viewWrapper"></div>

					<div class="viewWrapper" style="display: none;">
						
							<dl class="dl-horizontal data-dimension pull-left">
								<dt>Location:</dt>
								<dd>
									<ul class="options">
										<li><a href="#">Country</a></li>
									</ul>
								</dd>
							</dl>

							<dl class="dl-horizontal data-dimension pull-left">
								<dt>Browser:</dt>
								<dd>
									<ul class="options">
										<li><a href="#">Browser</a></li>
										<li><a href="#">Browser &amp; Version</a></li>
									</ul>
								</dd>
							</dl>

						<table id="table-view" class="table table-striped">
							<thead>
								<tr>
									<th><button class="btn btn-link">All plot view</button></th>
									<th>Country</th>
									<th>Browser</th>
									<th><a href="#">Network Latency</a></th>
									<th><a href="#">Dom Ready</a></th>
									<th><a href="#">Window Load</a></th>
									<th><a href="#">Visits <i class="icon-arrow-down"></i></a></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><button class="btn btn-link">plot view</button></td>
									<td><a href="#">United States</a></td>
									<td><a href="#">Chrome</a></td>
									<td>0.5</td>
									<td>5.2</td>
									<td>8.6</td>
									<td>23432</td>
									<td>
										<div style="width: 35px;" class="per-bar"></div>
										<span>35%</span>
									</td>
								</tr>
								<tr>
									<td><button class="btn btn-link">plot view</button></td>
									<td><a href="#">France</a></td>
									<td><a href="#">Firefox</a></td>
									<td>0.5</td>
									<td>5.2</td>
									<td>8.6</td>
									<td>23432</td>
									<td>
										<div style="width: 25px;" class="per-bar"></div>
										<span>25%</span>
									</td>
								</tr>
								<tr>
									<td><button class="btn btn-link">plot view</button></td>
									<td><a href="#">United Kingdom</a></td>
									<td><a href="#">Chrome</a></td>
									<td>0.5</td>
									<td>5.2</td>
									<td>8.6</td>
									<td>23432</td>
									<td>
										<div style="width: 10px;" class="per-bar"></div>
										<span>10%</span>
									</td>
								</tr>
								<tr>
									<td><button class="btn btn-link">plot view</button></td>
									<td><a href="#">Germany</a></td>
									<td><a href="#">Chrome</a></td>
									<td>0.5</td>
									<td>5.2</td>
									<td>8.6</td>
									<td>23432</td>
									<td>
										<div style="width: 5px;" class="per-bar"></div>
										<span>5%</span>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- div class="pagination pagination-right">
							<ul>
								<li class="disabled"><a href="#">&laquo;</a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">&raquo;</a></li>
							</ul>
						</div -->
					</div>
				</div>
			</div>
			<!--/row-->
			<div id="loadMask" class="hide">
				<div class="meter animate">
					<span style="width: 0"><span></span></span>
				</div>
			</div>
		</section>
		<!--/span-->
	</div>
	<!--/row-->
	<hr>
	<footer>
	<p>
		&copy; Lightinthebox.com 2012
	</p>
	</footer>
</div>
<!--/.fluid-container-->
<!-- Le javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="javascripts/jquery.cookie.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<script src="Highcharts-2.3.3/highcharts.js"></script>
<script src="javascripts/data.js"></script>

<script>
// Set query.cookie global options
$.cookie.json = true;
$.cookie.defaults = {path: '/'};

// Init cookies
// if ($.cookie('browser') == null) {
	$.cookie('browser', 'all');
// }
// if ($.cookie('country') == null) {
	$.cookie('country', 'all');
// }

$('#date-start, #date-end').datepicker();
var today = new Date();
today.setDate(today.getDate() - 2);
$('#date-end').val( ('0'+(today.getMonth()+1)).slice(-2) + '/' + ('0' + today.getDate()).slice(-2) + '/' + today.getFullYear());
today.setDate(today.getDate() - 15);
$('#date-start').val( ('0'+(today.getMonth()+1)).slice(-2) + '/' + ('0' + today.getDate()).slice(-2) + '/' + today.getFullYear());

function acquireData(options, success) {
	var startDate = new Date($('#date-start').val()),
		endDate = new Date($('#date-end').val()),
		pageType = $('#page-type').val(),
		pageTemplate = $('#page-template').is(':visible') ? ('-'+$('#page-template').val()) : '';
	options = $.extend(
		{
			startdate: '' + startDate.getFullYear() + ('0'+(startDate.getMonth()+1)).slice(-2) + ('0' + startDate.getDate()).slice(-2),
			enddate: '' + endDate.getFullYear() + ('0'+(endDate.getMonth()+1)).slice(-2) + ('0' + endDate.getDate()).slice(-2),
			dateunit: $('#date-unit > .active').val(),
			site: pageType.substring(0, pageType.indexOf('_')),
			page: pageType.substring(pageType.indexOf('_') + 1) + pageTemplate,
			browser: $.cookie('browser'),
			country: $.cookie('country')
		}, options
	);
	requirePerformanceData(options, success, function() {
		alert('Failed acquiring data.');
	}, function() { // init
		$('#loadMask').show().find('.meter > span').css('width', 0);
	}, function(p) { // progress
		$('#loadMask > .meter > span').css('width', p + '%');
	}, function() { // destroy
		$('#loadMask').fadeOut('slow');
	});
}

var ONE_DAY = 24 * 3600 * 1000,
	EIGHT_HOURS = 8 * 3600 * 1000,
	// countries full name for displaying
	country_names = {'fr':'France', 'us':'United States', 'it':'Italy', 'es':'Spain', 'gb':'United Kingdom', 'br':'Brazil', 'dk':'Denmark', 'de':'Germany', 'nl':'Netherlands', 'no':'Norway', 'au':'Australia', 'be':'Belgium', 'se':'Sweden', 'ca':'Canada', 'ru':'Russian Federation', 'ch':'Switzerland', 'ie':'Ireland', 'at':'Austria', 'pt':'Portugal', 'gr':'Greece'};

function drawPlot(options, done) {
	var series = [{
			name: 'Window Load',
			data: []
		}, {
			name: 'Dom Ready',
			data: []
		}, {
			name: 'Network Latency',
			data: []
		}];
	acquireData(options, function(data) {
		if (options && options['browser & version']) {
			$.cookie('browser', options['browser & version']);
		} else if (options && options.browser) {
			$.cookie('browser', options.browser);
		}
		if (options && options.country) {
			$.cookie('country', options.country);
		}
		if (data == null || typeof(data.length) == 'undefined' || data.length == 0) {
			alert('Invalid data acquired.');
			return false;
		}
		var i = 0;
		for (; i < data.length; i++) {
			var date = (data[i].date+'').split('');
			date.splice(6, 0, '/');
			date.splice(4, 0, '/');
			series[0].data.push({x: new Date(date.join('')).getTime() + EIGHT_HOURS, y: data[i].load});
			series[1].data.push({x: new Date(date.join('')).getTime() + EIGHT_HOURS, y: data[i].domReady});
			series[2].data.push({x: new Date(date.join('')).getTime() + EIGHT_HOURS, y: data[i].networkLatency});
		}

		if (typeof(chart) !== 'undefined') {
			chart.destroy();
		}
		chart = new Highcharts.Chart({
			chart: {
				renderTo: 'plot-view',
				type: 'area'
			},
			title: {
				text: 'FrontEnd Performance'
			},
			subtitle: {
				text: (($.cookie('browser') !== 'all') ? ('browser:' + ($.cookie('browser').indexOf('all') === -1 ? $.cookie('browser') : $.cookie('browser').replace('-all', '') )+' ') : '') +
						(($.cookie('country') !== 'all') ? ('country:' + country_names[$.cookie('country')]) : ''),
            style: {
                color: '#FF0000'
            }
			},
			xAxis: {
				type: 'datetime',
				minTickInterval: ONE_DAY
			},
			yAxis: {
				title: {
					text: 'Performance Timing'
				},
				labels: {
					formatter: function () {
						return this.value + 'ms';
					}
				}
			},
			plotOptions: {
				column: {
					//stacking: 'normal'
				},
				area: {
					//stacking: 'normal',
					marker: {
						enabled: false,
						symbol: 'circle',
						radius: 2
					}
				}
			},
			series: series
		});
		if (done) {
			done.call();
		}
	});
};

drawPlot({}, switchToPlotView);

(function drawTable() {
	var dataGenerator = {
		dimensions: {
			'country': ['fr', 'us', 'it', 'es', 'gb', 'br', 'dk', 'de', 'nl', 'no', 'au', 'be', 'se', 'ca', 'ru', 'ch', 'ie', 'at', 'pt', 'gr'],
			'browser': ['chrome-all', 'firefox-all', 'ie-all'],
			'browser & version': ['chrome-25', 'chrome-24', 'chrome-23', 'firefox-18', 'firefox-17', 'ie-10', 'ie-9']
		},
		getData: function(dims) {
			var data = new Array(), result = new Array(),
				i = 0, j = 0, k = 0;
			if (dims && dims.length > 0) {
				data.push(new Object());
				for (; i < dims.length; i++) {
					var temp = new Array();
					for (j = 0; j < this.dimensions[dims[i].toLowerCase()].length; j++) {
						for (k = 0; k < data.length; k++) {
							var obj = new Object();
							if (dims[i].toLowerCase() === 'browser & version') {
								obj['browser'] = this.dimensions[dims[i].toLowerCase()][j];
							} else {
								obj[dims[i].toLowerCase()] = this.dimensions[dims[i].toLowerCase()][j];
							}
							temp.push($.extend(obj, data[k]));
						}
					}
					data = temp;
				}
				for (i = 0; i < data.length; i++) {
					acquireData($.extend({dateunit: 'all'}, data[i]), function(resp) {
						if (resp[0]['browser'] !== 'all') {
							if (resp[0]['browser'].indexOf('all') > -1) {
								//resp[0]['version'] = resp[0]['browser'].substring(resp[0]['browser'].indexOf('-') + 1);
								//resp[0]['browser'] = resp[0]['browser'].substring(0, resp[0]['browser'].indexOf('-'));
							}
						}
						result.push(resp[0]);
						// All requires have returned.
						if (result.length === data.length) {
							toDraw(dims, result);
						}
					});
				}
			} else {
				acquireData({dateunit: 'all'}, function(resp) {
					toDraw(dims, resp);
				});
			}
			return data;
		}
	};

	var toDraw = function(dimensions, data) {
		var allVisits = 0, m = 0;
		for (; m < data.length; m++) {
			allVisits += parseInt(data[m]['count']);
		}
		for (m = 0; m < data.length; m++) {
			data[m]['Proportion'] = Math.round(data[m]['count'] / allVisits * 100);
		}
		draw(dimensions, data);

		if ($('.viewWrapper:eq(1)').is(':visible')) {
			$('#viewMask').css({
				'height': $('.viewWrapper:eq(1)').show().height()
			});
		}
	};

	var draw = function(dimensions, data){
		var theadHtml = '<tr><th><button class="btn btn-link allPlotViewBtn">All plot view</button></th>',
			tbodyHtml = '';
		for (var m = 0; m < data.length; m++) {
			var rowHtml = '<tr><td><button class="btn btn-link plotViewBtn">plot view</button></td>';
			if (dimensions) {
				for (var i = 0; i < dimensions.length; i++) {
					if (m == 0) {
						theadHtml += '<th>' + dimensions[i] + ' <a href="#"><i class="icon-remove"></i></a></th>';
					}
					if (dimensions[i].toLowerCase() === 'country') {
						rowHtml += '<td><em data-value="' + data[m][dimensions[i].toLowerCase()] + '">' + country_names[data[m][dimensions[i].toLowerCase()]] + '</em></td>';
					} else if (dimensions[i].toLowerCase() === 'browser') {
						rowHtml += '<td><em data-value="' + data[m][dimensions[i].toLowerCase()] + '">' + data[m][dimensions[i].toLowerCase()].replace('-all', '') + '</em></td>';
					} else if (dimensions[i].toLowerCase() === 'browser & version') {
						rowHtml += '<td><em data-value="' + data[m]['browser'] + '">' + data[m]['browser'] + '</em></td>';
					}
				}
			}

			if (m == 0) {
				theadHtml += '<th>Network Latency(ms)</th><th>Dom Ready(ms)</th><th>Window Load(ms)</th><th>Visits</th><th>Proportion</th>';
			}
			rowHtml += '<td>' + data[m]['networkLatency'] + '</td>' +
							'<td>' + data[m]['domReady'] + '</td>' +
							'<td>' + data[m]['load'] + '</td>' +
							'<td>' + data[m]['count'] + '</td>' +
							'<td><div style="width: ' + data[m]['Proportion'] + 'px;" class="per-bar"></div><span>' + data[m]['Proportion'] + '%</span></td>';

			tbodyHtml += rowHtml + '</tr>';
		}
		$('#table-view > thead').html(theadHtml + '</tr>');
		$('#table-view > tbody').html(tbodyHtml);
	};

	redrawTable = function() {
		var dimensions = new Array();
		$.each($('.data-dimension'), function() {
			$.each($('li', this), function() {
				if ($('a', this).length === 0) {
					dimensions.push($.trim($(this).text()));
				}
			});
		});

		dataGenerator.getData(dimensions);
	};

	redrawTable();
}());

// Init view masking
$('.viewWrapper').css({
	'float': 'left',
	'width': $('#plot-view').width()
});
$('#bothViewsWrapper').css({
	'position': 'absolute',
	'width': $('#plot-view').width() * 2
});
$('#viewMask').css({
	'height': $('#plot-view').height()
});

$('#data-types > button, #date-range > button').click(function() {
	setTimeout(function() {
		drawPlot();
		redrawTable();
	}, 200);
});
$('#page-type').change(function() {
	var pageTemplates = {
		'products_category': {
			'20': '分类入口模板(含子类入口)',
			'21': '子分类推广模板(方/128)',
			'22': '子分类推广模板(通/方/128/176)',
			'23': '基础类目模板(通/方/128/176)',
			'24': '基础类目模板(方/176/List)',
			'27': '分类入口模板',
			'28': '子分类推广模板(长/176/240)',
			'29': '子分类推广模板(通/长/176/240)',
			'30': '基础类目模板(长/176/240/List)',
			'33': '特卖会模板(长/176/284)',
			'34': '特卖会模板(方/176/176)'
		},
		'narrow_search': {
			'25': 'Narrow Search模板(方/176/List)',
			'26': 'Narrow Search模板(3C/方/176/List)',
			'31': 'Narrow Search模板(长/176/240/List)',
			'32': 'Narrow Search模板(3C/长/176/240/List)'
		},
		'product_info': {
			'3': '婚纱礼服',
			'4': '通用模板',
			'5': '通用模板(1500)',
			'6': '婚纱礼服-通栏',
			'7': '通用模板(数据显示分离)'
		}
	};

	var templates = pageTemplates[$(this).val().substring($(this).val().indexOf('_') + 1)],
		tempId = null,
		options = '<option value="all">全部模板</option>';
	if ( typeof templates !== 'undefined' && templates !== null) {
		for (tempId in templates) {
			options += '<option value="' + tempId + '">' + templates[tempId] + '</option>';
		}
		$('#page-template').html(options).show();
	} else {
		$('#page-template').hide();
	}

	setTimeout(function() {
		drawPlot();
		redrawTable();
	}, 200);
});
$('#page-template').live('change', function() {
	setTimeout(function() {
		drawPlot();
		redrawTable();
	}, 200);
});
$('#date-unit > button').click(function() {
	setTimeout(function() {
		drawPlot({}, switchToPlotView);
	}, 200);
});

$('.data-dimension li a').live('click', function() {
	if ($(this).text() === 'Browser') {
		$(this).parent().next().html('<a href="#">Browser & Version</a>');
	} else if ($(this).text() === 'Browser & Version') {
		$(this).parent().prev().html('<a href="#">Browser</a>');
	}
	$(this).parent().text($(this).text());
	setTimeout(redrawTable, 200);
	return false;
});

$('#table-view th > a').live('click', function() {
	var dimStr = $.trim($(this).parent().text());
	$('.data-dimension li').each(function() {
		if ($.trim($(this).text()) === dimStr) {
			$(this).wrapInner('<a href="#" />');
		}
	});
	setTimeout(redrawTable, 200);
	return false;
});

$('#table-view .allPlotViewBtn').live('click', function() {
	drawPlot({country: 'all', browser: 'all'}, switchToPlotView);
});

$('#table-view .plotViewBtn').live('click', function() {
	var dim = new Object(),
		dimElems = $(this).parent().siblings().children('em');
	for (var i = 0; i < dimElems.length; i++) {
		var idx = $(dimElems[i]).parents('tr').children().index($(dimElems[i]).parent());
		dim[$('#table-view > thead > tr > th:eq('+idx+')').text().toLowerCase().trim()] = $(dimElems[i]).attr('data-value');
	}
	drawPlot($.extend({'country':'all', 'browser': 'all'}, dim), switchToPlotView);
});

function switchToPlotView() {
	$('#viewMask').css({
		'height': $('.viewWrapper:eq(0)').height()
	});
	$('#bothViewsWrapper').animate({'left': 0}, 'fast', function() {
		$('.viewWrapper:eq(1)').hide();
	});
	$('#date-unit').css({'visibility': 'visible'});
}

function switchToTableView() {
	$('#viewMask').css({
		'height': $('.viewWrapper:eq(1)').show().height()
	});
	$('#bothViewsWrapper').animate({'left': - $('#bothViewsWrapper').width() / 2}, 'fast');
	$('#date-unit').css({'visibility': 'hidden'});
}

$('#switchView').click(function() {
	var curPos = $('#bothViewsWrapper').css('left');
	if (curPos === '0px' || curPos === 'auto') {
		switchToTableView();
	} else {
		switchToPlotView();
	}
});
</script>

</body>
</html>
